@import "variables";

@font-face {
  font-family: "brown";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/lineto-brown-pro-light.eot");
  src: url("/fonts/lineto-brown-pro-light.woff2") format('woff2'), url("/fonts/lineto-brown-pro-light.woff") format('woff');
}

@font-face {
  font-family: "brown";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/lineto-brown-pro-regular.eot");
  src: url("/fonts/lineto-brown-pro-regular.woff2") format('woff2'), url("/fonts/lineto-brown-pro-regular.woff") format('woff');
}

@font-face {
  font-family: "brown";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/lineto-brown-pro-bold.eot");
  src: url("/fonts/lineto-brown-pro-bold.woff2") format('woff2'), url("/fonts/lineto-brown-pro-bold.woff") format('woff');
}


body {
  background-color: #f8f8f6;
  margin: 0;
  font-family: "brown",
    -apple-system,
    BlinkMacSystemFont,
    "helvetica neue",
    "helvetica",
    sans-serif;
}

.sr-only {
  display: none;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3.4rem;
  padding: .6rem 4.16667%;
  background-color: #ffffff;
  z-index: 1000;
  // box-shadow: 0 3px 6px rgba(33, 33, 69, .08),
  // 0 3px 6px rgba(33, 33, 69, .115);

  &__brand {
    color: #000D47;
    font-weight: 700;
    line-height: 3.4rem;
    font-size: 1.75rem;
    text-decoration: none;
    transition: color .1s;
    margin-right: 1rem;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    color: rgba($dark, 0.7);
    line-height: 3.4rem;
    margin: 0 0 0 1rem;
    text-decoration: none;
    transition: color .1s;

    &:hover {
      color: $dark;
    }

    @media screen and (max-width: 767px) {
      display: none;
      text-align: center;
      margin: 0 0.5rem;
    }
  }

  &__account {
    margin-left: auto;

    & .btn:not(:last-of-type) {
      margin: 0 0.5rem 0 0;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}


.btn {
  padding: 0 1rem;
  border-radius: 3px;
  line-height: 2.4rem;
  height: 2.25rem;
  transition: .2s;
  text-decoration: none;

  &--primary {
    display: inline-block;
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;

    &:hover {
      color: $white;
      background-color: darken($primary, 10%);
      border: 1px solid darken($primary, 10%);
    }
  }

  &--primary-outline {
    display: inline-block;
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      color: darken($primary, 10%);
      border: 1px solid darken($primary, 10%);
    }
  }
}